{% extends 'registration/login.html' %}
{% load staticfiles %}

{% block login-alert %}
{% endblock %}

{% block login-form %}
<div class="row" style="padding: 10px 0">
    <img class="img-responsive center-block" src="{% static 'img/long-logo.png' %}" alt="" style="margin-bottom:10px;" />
</div>
<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <p><strong>Password Email Sent</strong></p>
    <p>We've emailed you instructions for setting your password.
      You should be receiving them shortly.
      If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
  </div>
</div>
{% endblock %}


{% block login-footer %}
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <div class="pull-right">
        <small><a href="#" data-toggle="modal" data-target="#createAccountModal">Need an Account?</a></small>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
{% endblock %}
