{% extends 'registration/login.html' %}
{% load staticfiles %}

{% block login-alert %}
{% endblock %}

{% block login-form %}
<form role="form" method="post">
  <fieldset>
    <div class="row">
      <div class="form-group" style="padding: 10px 0">
        <img class="img-responsive center-block" src="{% static 'img/long-logo.png' %}" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input class="form-control" placeholder="Password"
                   type="password" id="id_new_password1" name="new_password1"
                   maxlength="254" autofocus />
          </div>
          <span class="help-block">Enter a new password for your account.</span>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input class="form-control" placeholder="Repeat Password"
                   type="password" id="id_new_password2" name="new_password2"
                   maxlength="254" autofocus />
          </div>
          <span class="help-block">Enter the same password as above, for verification.</span>
        </div>
        <div class="form-group">
          <button type="submit" value="login" class="btn btn-lg btn-info btn-block">
            Change Password
          </button>
          {% csrf_token %}
        </div>
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}


{% block login-footer %}
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <div class="pull-right">
        <small><a href="#" data-toggle="modal" data-target="#createAccountModal">Need an Account?</a></small>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
{% endblock %}
