{% extends 'site/legal/legal-page.html' %}

      {% block legal-header %}
        <h1>Terms and Conditions of Use</h1>
        <p><strong>Last Updated: August 21, 2015</strong></p>
      {% endblock %}

      {% block legal-content %}
        <section id="usage">

        <h3>Use of Site</h3>

        <p class="text-justify">By accessing this website or any website owned by <em>District Data Labs</em>, you are agreeing to be bound to all of the terms, conditions, and notices contained or referenced in this Terms and Conditions of Use and all applicable laws and regulations. You also agree that you are responsible for compliance with any applicable local laws. If you do not agree to these terms, you are prohibited from using or accessing this site or any other site owned by <em>District Data Labs</em>. <em>District Data Labs</em> reserves the right to update or revise these Terms of Use. Your continued use of this Site following the posting of any changes to the Terms of Use constitutes acceptance of those changes.</p>

        <p class="text-justify">Permission is granted to temporarily download one copy of the materials on <em>District Data Labs</em>'s Websites for viewing only. This is a grant of a license, not a transfer of a title. Under this licenses you may not:</p>

        <ul>
        <li>Modify or copy the materials</li>
        <li>Use the materials for any commercial purpose, or any public display (commercial or non-commercial)</li>
        <li>Attempt to decompile or reverse engineer any software contained or provided through <em>District Data Labs</em>'s Website</li>
        <li>Remove any copyright or proprietary notations from the material</li>
        <li>Transfer the materials to another person or "mirror" any materials on any other server including data accessed through our APIS</li>
        </ul>


        <p class="text-justify"><em>District Data Labs</em> has the right to terminate this license if you violate any of these restrictions, and upon termination you are no longer allowed to view these materials and must destroy any downloaded content in either print or electronic format.</p>
        </section>

        <section id="updates">

        <h3>Modification</h3>

        <p class="text-justify">It is our policy to post any changes we make to our terms of use on this page. If we make material changes to how we treat our users' personal information, we will notify you by e-mail to the e-mail address specified in your account. The date these Terms of Use was last revised is identified at the top of the page. You are responsible for ensuring we have an up-to-date active and deliverable e-mail address for you, and for periodically visiting our Website and this terms of use to check for any changes.
        </section></p>

        <section id="copyright">

        <h3>Copyright</h3>

        <p class="text-justify">The entire content of this Site is protected by copyright. You may not copy, distribute, or create derivative works from any part of this website (including its graphics, pictorial matter, and text) without the prior written consent of <em>District Data Labs</em> unless otherwise expressly permitted by the Sites.</p>
        </section>
        </section>

        <section id="trademarks">

        <h3>Trademarks</h3>

        <p><em>District Data Labs</em> owns names, logos, designs, titles, words, or phrases within this Site are trademarks, service marks, or trade names of <em>District Data Labs</em> or its affiliated companies and may not be used without prior written permission. <em>District Data Labs</em> claims no interest in marks owned by entities not affiliated with <em>District Data Labs</em> which may appear on this Site.</p>
        </section>

        <section id="contributors">

        <h3>Contributed Content</h3>

        <p>Users posting content to the Site and <em>District Data Labs</em>'s Social Media pages linked within are solely responsible for all content and any infringement, defamation, or other claims resulting from or related thereto. <em>District Data Labs</em> reserves the right to remove or refuse to post any content that is offensive, indecent, or otherwise objectionable, and makes no guarantee of the accuracy, integrity, or quality of posted content.</p>

        <section id="registration">

        <h3>Account Registration</h3>

        <p class="text-justify">In order to access certain features of this Site and Services and to post any Content on the Site or through the Services, you must register to create an account ("Account") through the Site, or through a Service provided by us for use with our Site.</p>

        <p class="text-justify">During the registration process, you will be required to provide certain information and you will establish a username and password. You agree to provide accurate, current, and complete information as required during the registration process. You also agree to ensure, by updating, the information remains accurate, current, and complete. <em>District Data Labs</em> reserves the right to suspend or terminate your Account if information provided during the registration process or thereafter proves to be inaccurate, not current, or incomplete.</p>

        <p class="text-justify">You are responsible for safeguarding your password. You agree not to disclose your password to any third party and take sole responsibility for any activities or actions under your Account, whether or not your have authorized such activities or actions. If you think your account has been accessed in any unauthorized way, you will notify <em>District Data Labs</em> immediately.</p>

        <h3>Termination and Account Cancellation</h3>

        <p class="text-justify"><em>District Data Labs</em> will have the right to suspend or disable your Account if you breach any of these Terms of Service, at our sole discretion and without any prior notice to you. <em>District Data Labs</em> reserves the right to revoke your access to and use of this Site, Services, and Content at any time, with or without cause.</p>

        <p class="text-justify">You may also cancel your Account at any time by sending an email to <a href="mailto:admin@districtdatalabs.com">admin@districtdatalabs.com</a> or by using the "delete account" option under the "My Account" section of the website. When your account is canceled, we set all personal information except your username to "Anonymous" and remove the ability to login with that username and any password. The username will be considered unavailable, and no one will be able to create or use an account with the username of the cancelled account.</p>
        </section>

        <section id="privacy">

        <h3>Privacy</h3>

        <p class="text-justify">See <em>District Data Labs</em>'s <a href="{% url 'privacy' %}">Privacy Policy</a> for information and notices concerning collection and use of your personal information.</p>

        <p class="text-justify"><section id="mailing"></p>

        <h3><em>District Data Labs</em> Mailing List</h3>

        <p class="text-justify">Should you submit your contact information through the "Sign Up" link, you agree to receive periodic emails and possible postal mail relating to news and updates regarding <em>District Data Labs</em> efforts and the efforts of like-minded organizations. You may discontinue receipt of such emails and postal mail through the “unsubscribe” provisions included in the promotional emails.</p>
        </section>

        <section id="endorsements">

        <h3>No Endorsements</h3>

        <p class="text-justify">Any links on this Site to third party websites are not an endorsement, sponsorship, or recommendation of the third parties or the third parties' ideas, products, or services. Similarly, any references in this Site to third parties and their products or services do not constitute an endorsement, sponsorship, or recommendation. If you follow links to third party websites, or any other companies or organizations affiliated or unaffiliated with <em>District Data Labs</em>, you are subject to the terms and conditions and privacy policies of those sites, and <em>District Data Labs</em> marks no warranty or representations regarding those sites. Further, <em>District Data Labs</em> is not responsible for the content of third party or affiliated company sites or any actions, inactions, results, or damages caused by visiting those sites.</p>
        </section>

        <section id="governance">

        <h3>Governing Law</h3>

        <p class="text-justify">This Site was designed for and is operated in the United States. Regardless of where the Site is viewed, you are responsible for compliance with applicable local laws.</p>

        <p class="text-justify">You and <em>District Data Labs</em> agree that the laws of the District of Columbia will apply to all matters arising from or relating to use of this Website, whether for claims in contract, tort, or otherwise, without regard to conflicts of laws principles.</p>

        <h3>International Transfer</h3>

        <p class="text-justify">Your information may be transferred to, and maintained on, computers located outside of your state, province, country or other governmental jurisdiction where the privacy laws may not be as protective as those in your jurisdiction. If you are located outside the United States and choose to provide information to us, <em>District Data Labs</em> transfers Personal Information to the United States and processes it there. Your consent to these Terms of Use, followed by your submission of such information represents your agreement to that transfer.</p>
        </section>

        <section id="disclaimer">

        <h3>Disclaimer</h3>

        <p class="text-justify">The materials on <em>District Data Labs</em>'s Website are provided "as is" without any kind of warranty. The material on this Website is not a warranty as to any product or service provided by <em>District Data Labs</em> or any affiliated or unaffiliated organization.</p>

        <p class="text-justify"><em>District Data Labs</em> is not liable for any errors, delays, inaccuracies, or omissions in this Website or any Website that are linked to or referenced by this Website. Under no circumstances shall <em>District Data Labs</em> be liable for any damages, including indirect, incidental, special, or consequential damages that result from the use of, or inability to use, this Website.</p>
        </section>

        <section id="closing">

        <h3>Agrement</h3>

        <p class="text-justify">These Terms of Use constitute the entire agreement between you and <em>District Data Labs</em> with respect to your use of this Site and supersede all prior or contemporaneous communications and proposals, whether oral, written, or electronic, between you and <em>District Data Labs</em> with respect to this Site. If any provision(s) of these Terms of Use are held invalid or unenforceable, those provisions shall be construed in a manner consistent with applicable law to reflect, as nearly as possible, the original intentions of the parties, and the remaining provisions shall remain in full force and effect.</p>
        </section>
      {% endblock %}
