{% extends 'page.html' %}

{% block content %}

  <div class="container">
    <!-- Primary content area -->
    <div class="row">

      <div class="jumbotron">
        <h1>Visual Analytics of Multidimensional Data</h1>
        <p>Upload CSV data to explore visual diagnostics and patterns</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'upload' %}" role="button">Get Started</a></p>
      </div>

    </div><!-- primary content area ends -->
  </div><!-- container ends -->

{% endblock %}

{% block javascripts %}
  {{ block.super }}
{% endblock %}
