<div id="notImplementedYetModal" class="modal fade" tabindex="-1"
  role="dialog" aria-labelledby="notImplementedYetModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Not Implemented Yet</h4>
        </div>
        <div class="modal-body">
          <p>Trinket is still in beta and as such, there are some features and functionality that are not currently implemented yet. Stay tuned, we're working hard on it!</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        </div>
      </div> <!-- .modal-content -->
    </div> <!-- .modal-dialog -->
</div> <!-- .modal -->
